@import 'fonts';
@import 'variables';
@import 'utilities';

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6,p {
	margin-top: 0;
}

h1 {
	padding: 15px 30px;
	color: #ccc;
	font-size: 2.5em;
	text-align: center;
	font-weight: 900;
}
h2 {
	margin-top: 0.7em;
	color: #ccc;
	text-align: center;
	font-weight: 900;
}

p {
	text-align: center;
	color: #ccc;
}

svg, img {
	display: block;
	margin: 1em auto;
}

main {
	max-width: 700px;
	margin: 70px auto 0;
}

.foo {
  @include absolute(0, 0, auto, auto);
}